.style {
  background-color: rgb(8, 7, 7);
  color: rgb(255, 255, 255);
}
.navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-style: normal;
}
.navigation a {
  color: aliceblue;
  text-decoration: none;
}
.div {
  text-align: center;
}
p::first-letter {
  font-weight: bold;
}
